.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 230px;
}

.navigation__link {
    font-size: 19px;
    font-family: Montserrat;
    font-weight: 600;
    color: var(--col-text-main);
    background: var(--col-bg-sections);
    border: 1px solid var(--col-bg-sections);
    width: 180px;
    padding: 15px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 40px;
    cursor: pointer;
}

.navigation__link:hover {
    border: 1px solid var(--col-text-main);
    background: var(--col-bg-sections-hover);
}

.navigation__link--active {
    border: 1px solid var(--col-text-edit);
    color: var(--col-text-edit);
    background: var(--col-bg-buttons);
}

.navigation__link--active:hover {
    border: 1px solid var(--col-text-edit);
    color: var(--col-text-edit);
    background: var(--col-bg-buttons);
}
