.about__wrapper {
    max-width: 870px;
    width: 100%;
}

.about__wrapper section {
    margin-bottom: 10px;
}

.about__banner {
    width: 200vh;
    background: #16171B;
    height: 220px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.banner__wrapper {
    width: 1030px;
    position: relative;
}

.banner__wrapper svg {
    position: absolute;
}

.banner__wrapper svg:nth-child(1) {
    top: 17px;
    left: 41px;
    width: 36px;
}

.banner__wrapper svg:nth-child(2) {
    top: 50px;
    left: 70px;
}

.banner__wrapper svg:nth-child(3) {
    top: 170px;
    left: 210px;
    width: 25px;
}

.banner__wrapper svg:nth-child(4) {
    top: 30px;
    left: 250px;
}

.banner__wrapper svg:nth-child(5) {
    top: 86px;
    left: 250px;
}

.banner__wrapper svg:nth-child(6) {
    top: 120px;
    left: 317px;
}

.banner__wrapper svg:nth-child(7) {
    top: 30px;
    left: 681px;
}

.about__banner--alt {
    height: 136px;
}

.banner__wrapper--alt svg:nth-child(1) {
    top: 40px;
    left: 40px;
    width: 50px;
}

.banner__wrapper--alt svg:nth-child(2) {
    top: 50px;
    left: 120px;
}

.banner__wrapper--alt svg:nth-child(3) {
    top: 96px;
    left: 120px;
    width: 460px;
}

.banner__wrapper--alt svg:nth-child(4) {
    top: 53px;
    left: 620px;
}

.about__leaders {
    width: 940px;
}

.about__whatIs p:nth-child(1){
    margin-bottom: 10px;
}

.about__whatIs p:nth-child(2){
    margin-bottom: 10px;
}

.leaders__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.leaders__item {
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(2, 115px);
    grid-template-areas:
    "img name"
    "img role";
    width: 460px;
    height: 230px;
    background: #000;
    border-radius: 20px;
    position: relative;
}

.leaders__img {
    grid-area: img;
    border-radius: 15px;
}

.leaders__item svg {
    position: absolute;
    right: 10px;
    top: 10px;
}

.leaders__name {
    grid-area: name;
    margin: 10px;
    border: 1px solid linear-gradient(180deg, rgba(255,127,188,1) 0%, rgba(255,245,150,1) 100%);;
    border-radius: 20px;
    padding: 10px;
    font-size: 19px;
    color: white;
    font-family: Montserrat;
    font-weight: 600;
    width: min-content;
    line-height: 23px;
}

.leaders__role {
    grid-area: role;
    font-size: 24px;
    font-family: Play;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 30px;
}

.team__banner {
    width: 900px;
    height: 90px;
    background: #000;
    border-radius: 20px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.team__banner svg stop {
    stop-color: yellow;
}

.team__title {
    font-family: Play;
    color: #81F0A1;
    font-size: 48px;
    font-weight: 600;
    margin-right: 40px;
}

.team__list {
    display: flex;
    gap: 20px;
}

.team__item {
    background: #000;
    width: min-content;
    height: 310px;
    border-radius: 20px;
    position: relative;
}

.team__item svg {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.team__name {
    width: min-content;
    padding: 0px 25px;
    color: white;
    font-size: 19px;
    font-family: Play;
    font-weight: 600;
    line-height: 22px;
}

.about__description-p,
.about__whatIs-p,
.about__COGNI-p {
    background: rgba(22, 23, 27, 0.9);
    color: white;
    font-family: Montserrat;
    padding: 30px;
    border-radius: 20px;
    font-size: 17px;
    margin-bottom: 10px;
}

.about__whatIs p:nth-last-child(1),
.about__COGNI p:nth-last-child(1) {
    background: rgba(22, 23, 27, 1);
    font-family: Montserrat;
    font-size: 17px;
    color: white;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.about__whatIs p:nth-last-child(1) a,
.about__COGNI p:nth-last-child(1) a {
    border-radius: 20px;
    padding: 5px 20px;
    background: #FF7FBC;
}

.whatIs__heading,
.COGNI__heading {
    font-size: 23px;
    font-weight: 600;
    color: #81F0A1;
}