@font-face {
    font-family: "Evolventa";  
    src: local("Evolventa"),
        url("./assets/fonts/evolventa.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Play:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --col-bg-main: #282339;
  --col-bg-buttons: #2B283B;
  --col-bg-header: #242132;
  --col-bg-sections: #191822;
  --col-bg-sections-hover: #33313e;
  --col-bg-profile: linear-gradient(180deg, rgba(139,125,196,1) 0%, rgba(80,71,132,1) 100%);
  --col-bg-hobies: linear-gradient(267deg, rgba(143,105,196,1) 0%, rgba(114,123,193,1) 100%);
  --col-bg-alpha: rgba(25, 24, 34, 0.7);
  --col-bg-edit: rgba(117, 113, 140, 0.7);

  --col-text-little: #D8E0F4;
  --col-text-main: #d7d3e3;
  --col-text-desc: #757C94;
  --col-text-edit: #988BCD;

  --col-addons: #7e6fbb;
  --col-addons-dark: #443d6c;
  --col-rights: linear-gradient(180deg, rgba(170,213,160,1) 0%, rgba(118,183,103,1) 100%);
  --col-highlight: #F063A7;
}

html, body, #root {
    height: 100%;
    position: relative;
    z-index: 0;
}